.Home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 15px;
}

.Navbar {
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-inline : 30px;
    justify-content: space-between;
}
.search {
    width: 25vw;
    border-radius: 10px;
    background-color: #D3D3D3;
}
.cercle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #D3D3D3;
    display: inline;
}
.p_n {
    gap : 20px
}



.LeftBar {
    height: 100%;
    width: 18%;
    border-radius: 10px;
}

