.Home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 15px;
}
.logo_search {
    gap: 30px;
}
.Navbar {
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-inline : 30px;
    justify-content: space-between;
}
.search {
    width: 25vw;
    height: 38px;
    border-radius: 10px;
    background-color: #D3D3D3;
    transition: 0.6s ease;
}
.searchBar {
    transition: 0.6s ease;
    color: black;
}
.searchBar:hover {
    filter: drop-shadow(0px 0px 6px #0d6efd);
    .searchIcon {
        margin-left: -10px;
        opacity: 0;
    }
}
.searchIcon {
    position: absolute;
    margin-left: 16px;
    width: 18px;
    transition: 0.6s ease;
}


.cercle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #D3D3D3;
    display: inline;
    transition: 0.6s ease;
}
.cercle:hover{
    filter: drop-shadow(0px 0px 12px #0d6efd);
    background-color: #0d6dfd4c;
}
.p_n {
    gap : 16px
}

.LeftBar {
    height: 100%;
    width: 320px;
    border-radius: 10px;
}

